/*   EMAIL STYLE  */ 

body{background-color: #F3F3F3}

#mailwrapper{
  max-width: 1100px; 
	min-height: 300px;
	background-color: white;
	position: relative;
	margin: auto;
	margin-top: 20px;
	font-family: Verdana;
	padding: 20px 40px 5px 40px;
	}

#logo{background-color: transparent; width: 300px; height: 70px; float: left;}

#tagline{background-color: transparent; max-width: 220px; height: 70px; float: right; text-align: right; bottom:0; padding-top: 42px; color: #26b8d1; font-family: Verdana; font-size: 14px;}   

#headline{
font-size: 15px; 
border-bottom: 1px solid #26b8d1;
padding-bottom: 4px;
text-transform: uppercase;
background-color: transparent;
color: #26b8d1;
max-width: 800px;
clear: both;
margin-left: 0px;
font-family: Verdana;}

h2{
	font-weight: 100;
	 font-family: 'Brandon_regular'; 
        font-size: 15px; 
	text-transform: uppercase;
	border-bottom: 1px solid #26b8d1;
	}

.inhalt{ 
        margin-top: 1px; 
        line-height: 1.2; 
        font-family: 'Brandon_regular'; 
        font-size: 15px; 
        COLOR:black; 
  } 
  button{ 
    width:220px; 
    height:56px; 
    background-color: #67D2E2; 
    color:white; 
     
} 

a{color: black; cursor: pointer;}

a:hover{color: #26b8d1; cursor: pointer;}	

a:active{color: #26b8d1;}

	.underlined{text-decoration: underline;}

	#footer{
		background: transparent;
		border-top: 1px solid #000000;
		margin-top: 40px;
		font-family: Verdana;
		font-size: 10px;
	
		
	}
	
@media screen and (max-width:720px) { 

	
	#logo{
		width: 100%;
	}
	
	#tagline{
		float: left;
		height: 20px;
		padding: 0;
		margin-bottom: 40px;
	}
	
}